# Secrets and keys
key.json

# Variables
*.tfvars

# Terraform system files
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.*

__pycache__/
.vscode
.pytest_cache/
.cache/
.mypy_cache/
.coverage
dist/
.DS_store
.db
.python-version
*.db
.venv
build/
*egg-info*/
.ruff_cache/
